{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container margin-top">
        <div class="row">
            <div class="col-sm-9" style="text-align: center">
                    <div class="media margin-top">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h4 class="mt-0">{{ article.titre }}</h4>
                            <h5 class="mt-0">{{ article.chapo }}</h5>
                            <p class="mt-0 article-content">{{ article.contenu }}</p>
                        </div>
                    </div>
                <a href="{{ path('news') }}">Retour aux articles</a>

            </div>

            <div class="col-sm-3" style="text-align: center">

                <img  src="{{ asset('img/imageTri.jpg') }}" alt="..." class="img-thumbnail">
                <img  src="{{ asset('img/imageTri2.jpg') }}" alt="..." class="img-thumbnail">


            </div>
        </div>
    </div>

{% endblock %}