{{ form_start(form) }}
    {{ form_widget(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.chapo) }}
        {{ form_row(form.contenu) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
