{% extends 'layout.html.twig' %}
{% block page_title %} Créer un article{% endblock %}

{% block content %}


    <div class="container">
        <div class="row margin-bottom">
            <h1 class="rounded mx-auto d-block margin-bottom margin-top">Rédiger un nouvel article</h1>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.chapo) }}
    {{ form_row(form.contenu) }}
    <button class="btn btn-success rounded mx-auto d-block margin-top">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}

    <a class="rounded mx-auto d-block" style="text-align: center; margin-top: 10px" href="{{ path('article_index') }}">Retour à la liste</a>

{% endblock %}
