{% extends 'layout.html.twig' %}
{% block page_title %} Liste des articles{% endblock %}

{% block content %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Chapô</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.chapo }}</td>
                <td>{{ article.contenu }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">Afficher</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun article n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_add') }}">Ajouter nouvel article</a>
{% endblock %}
